[data-component="carousel"] {
    //height:600px; // required for vertical carousel
    overflow:hidden;
    position:relative;
    > ul {
        background: white;
        bottom:0;
        left:50%;
        margin-left:-246px; // width of pagination links / 2
        overflow:hidden;
        position:absolute;
        > li {
            float:left;
            list-style:none;
        }
        a {
            display:block;
            padding:10px;
        }
        [aria-disabled] {
            color:grey;
        }
    }
    > div {
        overflow:hidden;
        > section {
            float:left; // required only for horizontal carousel; remove for vertical
        }
    }
}